<div>
  <app-navbar></app-navbar>
  <app-hero></app-hero>
  <div class="info__wrapper">
    <div class="info__content">
      @defer (on viewport) {
        <app-destinations></app-destinations>
      }@placeholder {
        <div></div>
      }

      <app-about-company></app-about-company>

      @defer (on viewport) {
        <app-tours></app-tours>
      }@placeholder {
        <div></div>
      }

      @defer (on viewport) {
        <app-contact-us></app-contact-us>
      }@placeholder {
        <div></div>
      }
      <app-footer></app-footer>
    </div>
  </div>
</div>
