.info__wrapper {
  margin-top: 137px;
  width: 100%;
}

.info__content {
  max-width: 1433px;
  margin: 0 auto;
  padding: 0px 30px;
}
@media screen and (max-width: 1500px) {
  .info__wrapper {
    margin-top: 70px;
  }
}
