.cards {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.card__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 24px;
  row-gap: 150px;
  position: relative;
}

.img__wrapper {
  width: 402px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
.card_btn__wrapper {
  position: absolute;
  width: 100%;
  bottom: -85px;

  button {
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    border-radius: 42px;
    border: 2px solid;
    font-weight: 400;
    height: 90px;
    background-color: white;
    cursor: pointer;
  }
  button.sharm {
    font-size: 32px;
    line-height: 39px;
  }
}
.card__detail {
  margin-top: 70px;
  height: 741px;
  padding: 80px 10px 68px 80px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 110px;
  .img__wrappper {
    position: absolute;
    // top: -70px;
    right: -13%;
  }

  .img__wrappper.gruziya {
    position: absolute;
    right: -50% !important;
  }
}
.card__text {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  width: 80%;
}
@media screen and (max-width: 1400px) {
  .img__wrapper {
    width: 350px;
  }
  .card_btn__wrapper {
    position: absolute;
    bottom: -80px;

    button {
      font-size: 40px;
      line-height: 50px;
      height: 80px;
    }
    button.sharm {
      font-size: 22px;
      line-height: 29px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .card__text {
    font-size: 30px;
    line-height: 33px;
    width: 90%;
  }

  .img__wrapper {
    width: 200px;
  }
  .card_btn__wrapper {
    position: absolute;
    bottom: -60px;

    button {
      font-size: 30px;
      line-height: 40px;
      height: 60px;
    }

    button.sharm {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
@media screen and (max-width: 800px) {
  .card__detail {
    height: 500px;
    .img__wrappper {
      height: 500px;
      img {
        height: 100%;
      }
    }
  }

  .card__text {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 700px) {
  .card__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 24px;
    row-gap: 150px;
    position: relative;
  }
  .cards {
    // grid-template-columns: 1fr 1fr;
    // column-gap: 16px;
    // row-gap: 60px;
    gap: 60px;
  }

  .img__wrapper {
    width: 150px;
  }
  .card_btn__wrapper {
    width: 160px;
    position: absolute;
    bottom: -30px;

    button {
      font-size: 15px;
      line-height: 18px;
      height: 30px;
    }
  }

  .card__detail {
    height: 400px;
    padding: 33px 10px 37px 20px;
    border-radius: 30px;

    .img__wrappper {
      position: absolute;
      right: -13%;
    }
  }
  .card__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 500px) {
  .card__detail {
    height: 169px;
  }
  .card__text {
    font-size: 7px;
    line-height: 9px;
  }

  .card__detail {
    height: 180px;
    .img__wrappper {
      height: 180px;
      img {
        height: 100%;
      }
    }
  }
}
