<div>
  <div class="cards">
    @for (acc of accardion; track acc;let idx = $index) {
    <div>
      <div class="card__inner">
        @for (destination of acc; track $index) {
        <div class="card" (click)="showDescription(destination.id)">
          <div class="img__wrapper">
            <img [src]="destination.image" [alt]="destination.placeName">
          </div>
          <div class="card_btn__wrapper">
            <button [class.sharm]="destination.placeName =='ШАРМ-ЭШ-ШЕЙХ'">{{destination.placeName}}</button>
          </div>
        </div>
        }
      </div>
      @if( acc[0] && getDescriptionData(acc[0]?.['column']) && getDescriptionData(acc[0]?.['column'])?.open) {
      <div class="card__detail">
        <div class="card__text">
          {{getDescriptionData(acc[0]?.['column'])?.description}}
        </div>
        <div class="img__wrappper" [class.gruziya]="getDescriptionData(acc[0]?.['column'])?.placeName == 'ГРУЗИЯ'">
          <img [src]="getDescriptionData(acc[0]?.['column'])?.detailImg" alt="dubai">
        </div>
      </div>
      }
    </div>
    }
  </div>



</div>