<div class="cards">
  @for (acc of destinationList; track acc.id; let idx = $index) {
    <div class="card" (click)="onSelect(idx)">
      <div class="img__wrapper">
        <img [src]="acc.image" [alt]="acc.placeName">
      </div>
      <div class="card_btn__wrapper">
        <button [class.sharm]="acc.placeName =='ШАРМ-ЭШ-ШЕЙХ'">{{acc.placeName}}</button>
      </div>
    </div>
  }
</div>

<!-- @for (active of activeCard.values(); track $index) {
  <div class="card__detail">
    <div class="card__text">
      {{destinationList[active].description}}
    </div>
    <div class="img__wrappper" [class.gruziya]="destinationList[active].placeName == 'ГРУЗИЯ'">
      <img [src]="destinationList[active].detailImg" alt="dubai">
    </div>
  </div>
} -->

