<div class="footer">
  <div>
    <strong>Контактные данные </strong>
    <ul>
      <li>
        <a href="">
          <img src="assets/icons/bi_instagram.svg" alt="instagram">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/icons/jam_telegram.svg" alt="telegram">
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/icons/gmail.svg" alt="gmail">
        </a>
      </li>
    </ul>

    <div class="call">
      <div>
        <img src="assets/icons/ph_phone-light.svg" alt="phone">
      </div>
      <div class="phone__numbers">
        +998974008867 <br>
        +998330930088
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="assets/images/footer_logo.png" alt="logo">
  </div>
</div>